<html>
<head>
  <title></title>
  <%= stylesheet_link_tag 'email' %>
</head>

<body>
<div class="ui basic segment">
  <table class="ui plain blue table">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <%= image_tag attachments[configatron.campaigns.trcampaign.email.images.logo.second.name].url,
                            size:  configatron.campaigns.trcampaign.email.images.logo.second.size,
                            alt: configatron.campaigns.trcampaign.email.images.logo.second.name
              %>
            </td>
            <td>
              <h2 class="ui large header">Header</h2>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <strong> Dear <%= @mark.display_name %> </strong>,

        <p>
       		CONTENT 
        </p>
        <p>
          <%= build_button(@mark.hashid, 'Buttom Text', 'ui primary blue button') %>
        </p>

      </td>
    </tr>
    <tr>
      <td>
        Thank you.
      </td>
      <td class="five wide">
      </td>

    </tr>
  </table>
</div>
</body>
</html>
